{% extends 'base.html' %}
{% block title %}
    Class Detail
{% endblock %}
{% block content %}
    <p><strong>Number:</strong> {{ courseClass.number }}</p>
    <p><strong>Semester:</strong> {{ courseClass.semester }}</p>
    <p><strong>Course:</strong> {{ courseClass.course }}</p>
    <p><strong>Lecturer:</strong> {{ courseClass.lecturers }}</p>
    
    {% if user.is_authenticated %}
            <a href="{% url 'class_update' courseClass.pk %}" class="btn btn-secondary">Update</a>
            <a href="{% url 'class_delete' courseClass.pk %}" class="btn btn-danger">Delete</a>
        
    {% endif %}

{% endblock %}
