{% extends 'base.html' %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == courseClass.auther.id %}
            <a href="{% url 'update-class' courseClass.pk %}" class="btn btn-secondary">Update</a>
            <a href="{% url 'delete-class' courseClass.pk %}" class="btn btn-secondary">Delete</a>
        {% endif %}
    {% endif %}
    <a href="{% url 'home' %}">
        Back to Home
    </a>
    <hr>
    <form action="{% url 'attend-class' courseClass.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit" name="courseClass_id" value="{{ courseClass.id }}">
            Attend
        </button>
    </form>
{% endblock %}
