{% extends 'base.html' %}
{% load static %}
{% block title %}
    Create or Search Classes
{% endblock %}
{% block content %}

    <p>{{ object.created_at }}</p>
    <p>{{ object.updated_at }}</p>

    <style>


        .container {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 0;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

        }

        .content {
            display: flex;
            flex-grow: 1;
            width: 100%;
        }

        .header-section {
            display: flex;
            justify-content: space-between;
        / align-items: center;
            margin-bottom: 20px;
            width: 100%;
        }

        .search_course .form-control {
            width: 250px;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .search_course .btn {
            margin-left: 10px;
            padding: 8px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .search_course .btn:hover {
            background-color: #45a049;
        }

        .right-panels {
            display: flex;
            flex-direction: column;
            background-color: #f5f5f5;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 15px;
            width: 100%;
        }

        .create-new {
            margin-top: 30px;
        }

    </style>

    <div class="container">
        <main class="main-content">
            <div class="content">

                <section class="right-panels">
                    <div class="header-section">
                       
                        <div class="create-new">
                            <h1>Create New Class</h1>
                            <form method="POST" action="{% url 'class_create' %}">
                                {% csrf_token %}
                                {{ form.as_p }}

                                <button type="submit" class="btn btn-primary">Create class</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>

{% endblock %}
