{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
    }
    
    td {
        padding: 10px;
    }

    /* 각 행 간의 간격 조정 */
    tr {
        margin-bottom: 10px;
        display: table-row;
    }
    
    /* 버튼 간격 조정 */
    button {
        margin-bottom: 5px;
    }

</style>


    <h1>College Day List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Course Class</th>
            <th>Day of Week</th>
            <th>Students</th>
            <th>Attendance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for day in college_days %}
            {% for student in day.student.all %}
            <tr>
                <td>{{ day.id }}</td>
                <td>{{ day.courseClass }}</td>
                <td>{{ day.day_of_week }}</td>
                <td>
                    <a href="{% url 'student_attend_detail' student.student_id %}">
                        {{ student.student_id }} - {{ student.user.first_name }} {{ student.user.last_name }}
                    </a>
                </td>
                <td>
                    {% if student.user in day.courseClass.attendances.all %}
                        Present
                    {% else %}
                        Absent
                    {% endif %}
                </td>
                <td>
                    <form method="POST" action="{% url 'attend_or_not' day.id student.student_id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-info">
                            {% if student.user in day.courseClass.attendances.all %}
                                Mark Absent
                            {% else %}
                                Mark Present
                            {% endif %}
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <form method="post" enctype="multipart/form-data" action="{% url 'load_user_from_file' %}">
        {% csrf_token %}
        <input type="file" name="Maungawhau.xlsx">
        <button type="submit">Load</button>
    </form>

{% endblock %}

