<!-- course_list.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Enroll List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Course Name</th>
            <th>Lecturer</th>
            <th>Semester</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for collegeDay in collegedays %}
            <tr>
                <td>{{ courseClass.id }}</td>
                <td>{{ courseClass.number }}</td>
                <td>{{ courseClass.course }}</td>
                <td>{{ courseClass.lecturers }}</td>
                <td>{{ courseClass.semester }}</td>
                <td>
                    <a href="{% url 'class_detail' courseClass.pk %}" class="btn btn-info btn-sm">View</a>
                    <a href="{% url 'class_update' courseClass.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'class_delete' courseClass.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No class available.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'class_create' %}" class="btn btn-success">Add New Class</a>
{% endblock %}
