{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>Welcome to Maungawhau college </h1>
    <!--only authenticated user can write post-->
    {% if user.is_authenticated %}
        <B>Hello:{{ user.username }}</B> <br>
        <B>Group: {{ user.groups.all|join:"," }}</B> <br>
        <a href="{% url 'class_create' %}">Select Class</a>
    {% endif %}
    <ul><br>
        {% for courseClass in object_list %}
    
            
            
            
    
           {% endfor %}
    </ul>
        {% endblock %}