{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h2>College Days</h2>
    {% if college_day %}
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Course Class</th>
                <th>Day of Week</th>
                <th>Attendance</th>
            </tr>
            </thead>
            <tbody>
            {% for day in college_day %}
                <tr>
                    <td>{{ day.id }}</td>
                    <td>{{ day.courseClass }}</td>
                    <td>{{ day.day_of_week }}</td>
                    <td>
                        {% for record in attendance_records %}
                            {% if record.college_day == day and record.student == student.user %}
                                {% if record.status == 'P' %}
                                    Present
                                {% else %}
                                    Absent
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No college days found for this student.</p>
    {% endif %}
{% endblock %}