{% extends 'base.html' %}
{% load static %}
{% block title %}
    Create or Search Classes
{% endblock %}
{% block content %}

    <p>{{ object.created_at }}</p>
    <p>{{ object.updated_at }}</p>

    <style>


        .container {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 0;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

        }

        .content {
            display: flex;
            flex-grow: 1;
            width: 100%;
        }

        .header-section {
            display: flex;
            justify-content: space-between;
        / align-items: center;
            margin-bottom: 20px;
            width: 100%;
        }

        .search_course .form-control {
            width: 250px;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .search_course .btn {
            margin-left: 10px;
            padding: 8px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .search_course .btn:hover {
            background-color: #45a049;
        }

        .right-panels {
            display: flex;
            flex-direction: column;
            background-color: #f5f5f5;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0 15px;
            width: 100%;
        }


    </style>

    <div class="container">
        <main class="main-content">
            <div class="content">

                <section class="right-panels">
                    <div class="header-section">
                        <h2>Searchr</h2>
                        <div class="search_course" id="searchbar">
                            <form class="d-flex" method="GET" action="{% url 'student_create' %}">
                                {% csrf_token %}
                                <input class="form-control" type="search" placeholder="Search student Number"
                                       name="searched"
                                       aria-label="Search">
                                <button class="btn" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- 클래스 생성 폼 등 내용 -->
                    <div class="create-new">
                        <h1>Create New Student</h1>
                        <form method="POST" action="{% url 'lecturer_create' %}">
                            {% csrf_token %}
                            <p>First Name:<br>
                                <input type="text" name="first_name" required></p>
                            <p>Last Name: <br>
                                <input type="text" name="last_name" required></p>
                            <p>Date Of Birth: <br>
                                <input type="date" name="dob" required></p>
                            <p>Phone: <br>
                                <input type="number" name="phone" required></p>
                            <p>Address: <br>
                                <input type="text" name="address" required></p>
                            <button type="submit" class="btn btn-primary">Create Student</button>
                        </form>
                    </div>


                </section>
            </div>
        </main>
    </div>

{% endblock %}
